body{
    background-image: url(../img/back.jpg);
    background-attachment: fixed;
    background-size: 50vw;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    margin: auto;
    background-color: rgb(240, 240, 240);/*чуть темнее белого*/
    box-sizing: border-box;
    padding: 2%;
    box-shadow: 0px 0px 20px  rgba(0, 0, 0, 0.719);
    border-radius: 300px/100px;
}


/*==============================================header=============================================================*/
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
header div{
    margin: 1% 2% 0% 2%;
}
.left{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 35px;
    flex-grow: 1;
}
.left img{
    width: 150px;
}
.right p{
    font-size: 25px;
}
.right input {
    width: 250px;
    height: 30px;
    font-size: 20px;
}
/*==============================================header=============================================================*/


/*==============================================navigation=============================================================*/

aside{
    width: 100%;
}
aside ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}
aside li{
    
    margin: 0% 3% 0% 3%;
    width: 140px;
    background-color: rgb(226, 220, 226);
    text-align: center;
    border-radius: 30px;
    margin-bottom: 15px;
}
aside a{
    font-size: 25px;
    color: black;
    text-decoration: none;
    transition-duration: 0.5s;
}
/*==============================================navigation=============================================================*/


main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    box-sizing: border-box;
    margin-bottom: 3%;
}
main h2{
    font-size: 45px;
    text-align: center;
    width: 100%;
    background-color: rgb(226, 220, 226);
}
article{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 350px;
    margin: 0px 10px 10px 10px;
    border: 2px solid rgba(0, 0, 0, 0.233);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 150px/50px;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.719);
}
article .img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 350px;
}
article h3{
    font-size: 35px;
    text-align: center;
}
article img{
    height: 230px;
}
article p{
    font-size: 25px;
    text-align: justify;
}
.button{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 2;
    text-align: center;
    align-items: center;
}
article a{
    background-color: rgb(216, 205, 216);
    color: black;
    text-decoration: none;
    padding: 3%;
    border-radius: 20%;
    font-size: 25px;
}

.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    font-size: 20px;
    width: 100%;
}
.gallery figure{
    width: 350px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    overflow: hidden;
}
.gallery img{
    height: 15vw;
}
.gallery figcaption{
    width: 100%;
}
.scroll{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
}
.imgs_cont{
    width: 80%;
    overflow: hidden;
    flex-grow: 1;
}
.imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    transition-duration: 0.2s;
    transform-origin: 0 0;
}
.imgs figure{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.imgs img{
    width: 22vw;
}
/*==============================================footer=============================================================*/
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    background-color: rgb(226, 220, 226);
    font-size: 20px;
    border-radius: 50px/150px;
    margin-bottom: 30px;
    padding: 20px;
    box-sizing: border-box;
}
/*==============================================footer=============================================================*/