html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: row;    
}
.wrapper{
    width: 1380px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
main{
    float: left;
}
section{
    overflow: hidden;
}
.indexPage header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
    
}
.indexPage header h1{
    color: red;
    text-shadow: -1px -1px 1px blue,1px -1px 1px blue,-1px 1px 1px blue,
    1px 1px 1px blue,4px 4px 2px white, 3px 3px 2px slateblue, 5px 3px 2px slateblue, 
    3px 5px 2px slateblue, 5px 5px 2px slateblue, 5px 8px 5px rgb(2, 2, 133),
    5px 10px 3px rgb(211, 0, 0);
    width: 500px;
    letter-spacing: 5px;
    background-color: none;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}
.indexPage header img{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50px;
    border-top: 3px solid cadetblue;
    border-left: 3px solid cadetblue;
    border-bottom: 5px solid darkturquoise;
    border-right: 5px solid darkturquoise;
    padding: 10px;
}
.indexPage h2{
    text-align: center;
    color: darkblue;
    width: 985px;
    margin: auto;
    margin-top: 20px;
}
.left{
    float: left;
    width: 125px;
    margin-top: 11px;
}
.left ul{
    list-style-type: none;
}
.left a{
    text-decoration: unset;
}
.right{
    float: left;
    width: 200px;
}
.right p{
    font-size: 16px;
    text-align: justify;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
}
.right h3{
    text-align: center;
    color: darkblue;
}
.right h4{
    background-color: darkblue;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.indexPage main{
    width: 950px;
    float: left;
    margin-right: 10px;
}
.indexPage section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    float: left;
}
.indexPage section article{
    width: 455px;
    height: 200px;
    float: left;
    text-align: justify;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
.indexPage section article img{
    width: 50px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.indexPage section h3{
    text-align: center;
    background: linear-gradient(to top,red,darkblue,white);
    color: white;
    text-shadow: -1px -1px 1px darkblue,1px -1px 1px darkblue,-1px 1px 1px bldarkblueue,
    1px 1px 1px darkblue;
}
.htmls{
    font-size: 20px;
    color: orange;
    float: left;
    position: relative;
    top: -25px;
    height: 20px;
    margin-bottom: -30px;
    font-weight: bold;
}
.csss{
    font-size: 20px;
    color: cornflowerblue;
    float: left;
    position: relative;
    top: -25px;
    height: 20px;
    margin-bottom: -30px;
    font-weight: bold;
}
.boot{
    font-size: 20px;
    color: darkmagenta;
    float: left;
    position: relative;
    top: -25px;
    height: 20px;
    margin-bottom: -30px;
    font-weight: bold;
}
.angular{
    font-size: 20px;
    color: crimson;
    float: left;
    position: relative;
    top: -25px;
    height: 20px;
    margin-bottom: -30px;
    font-weight: bold;
}
.ps{
    background-color:darkblue;
    float: left;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: justify;
}
.ps p{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}

footer{
    width: 100%;
    clear: both;
    text-align: center;
    color: darkblue;
    font-weight: bold;
}


/*-----------------------------------------------основное строение страниц----------------------------------*/
.htmlpage .wrapper, .cssPage .wrapper, .bootPage .wrapper, .andularPage .wrapper{
    background-color: whitesmoke;
    overflow: visible;
    margin-top: -8px;
}
.htmlpage header, .cssPage header, .bootPage header, .andularPage header{
    float: left;
    width: 1380px;
    text-align: center;
}
.htmlpage main, .cssPage main, .bootPage main, .andularPage main{
    float: left;
    width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
.left_aside{
    width: 190px;
    float: left;
    position: sticky;
    top: 11px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.up_down{
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 50px;
    float: left;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
/*-----------------------------------------------основное строение страниц----------------------------------*/


/*-----------------------------------------------страница с инфой про хтмл----------------------------------*/
.htmlpage{
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.htmlpage header{
    background: linear-gradient(90deg,orange ,white,white,orange);
}
.htmlpage main{
    margin-top: 10px;
}
.htmlpage section{
    background-color: aliceblue;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.htmlpage .left{
    box-shadow: 0px 0px 10px orange;
    border-radius: 0px 90px;
    margin-left: 11px;
    font-size: 15px;
}
.htmlpage aside ul{
    margin-top: 15px;
    padding-bottom: 15px;
    margin-left: -5px;
}
/*-----------------------------------------------страница с инфой про хтмл----------------------------------*/


/*-----------------------------------------------страница с инфой про css------------------------------------*/
.cssPage{
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.cssPage .wrapper{
    background-color: rgb(22, 22, 22);/*тёмно-серый цвет*/
    border-radius: 20px;
}
.cssPage header{
    background: linear-gradient(90deg, cornflowerblue,white,white,cornflowerblue);
}
.cssPage section{
    margin-top: 30px;
    background-color: rgb(17, 17, 17);
    padding: 5px 30px;
    margin-bottom: 30px;
    transition-duration: 0.5s;
    border-radius: 70px;
    box-shadow: 0px 0px 30px white;
}
.cssPage section img{
    transition-duration: 2s;
    border-radius: 50px;
}
.cssPage section:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 40px blue;
}
.cssPage section:hover img{
    border-radius: 10px;
}

.cssPage .left_aside .up_down{
    background-color: aliceblue;
    width: 100%;
}
.cssPage .left{
    background-color: aliceblue;
    margin-left: 10px;
    border-radius: 170px 170px 0px 0px;
    box-shadow: 0px 0px 10px blue;
    transition-duration: 1s;
}
.cssPage .left ul{
    margin-left: -10px;
}
.cssPage .left:hover{
    border-radius: 0px 0px 170px 170px;
    box-shadow: 0px 0px 50px blue;
}
.photos{
    width: 1200px;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.photos figure{
    float: left;
    margin: 0px;
    width: 590px;
    height: 450px;
}
.photos img{
    width: 100%;
    height: 90%;
}
/*-----------------------------------------------страница с инфой про css------------------------------------*/


/*-----------------------------------------------страница с инфой про bootstrap------------------------------*/
.bootPage{
    background-color: darkmagenta;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: visible;
}
.bootPage header{
    background: linear-gradient(90deg, darkmagenta,white,white,darkmagenta);
}
.bootPage section{
    background-color: beige;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 100px;
}
.bootPage .left:hover{
    background-image: url(../img/pages/boot/background.PNG);
}


.ads{
    position: fixed;
    width: 1340px;
    height: 0px;
    bottom: 0px;
    text-align: left;
    transition-duration: 0.1s;
}
.ads img{
    position: relative;
    top: -60px;

}
.ads:hover{
    height: 325px;
    transition-duration: 0.1s;
}
.ads:hover .ads_inf{
    margin-top: -60px;
    transform: scaleY(1);
    transform-origin: 0 0;
    height: 95%;
    transition-duration: 0.1s;
}
.ads_side_left{
    width: 200px;
    height: 0px;
    left: 0px;
    transition-duration: 0.1s;
}
.ads_side_left:hover{
    height: 500px;
    transition-duration: 0.1s;
}
.ads_side_left:hover .ads_inf{
    transform: scaleY(1);
    transform-origin: 1 1;
    height: 90%;
    transition-duration: 0.1s;
}

.ads_side_right{
    
    width: 200px;
    height: 0px;
    left: 0px;
    transition-duration: 0.1s;
}
.ads_side_right:hover{
    height: 500px;
    transition-duration: 0.1s;
}
.ads_side_right:hover .ads_inf{
    transform: scaleY(1);
    transform-origin: 1 1;
    height: 90%;
    transition-duration: 0.1s;
}
.ads_inf{
    float: left;
    background-color: antiquewhite;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition-duration: 0.1s;
    height: 0px;
    width: 100%;
    text-align: left;
    padding: 20px;
    margin-top: -65px;
}


/*-----------------------------------------------страница с инфой про bootstrap------------------------------*/


/*-----------------------------------------------страница с инфой про bootstrap------------------------------*/
.andularPage{
    background-color: crimson;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.andularPage header{
    background: linear-gradient(90deg, crimson,white,white,crimson);
}
.andularPage .text{
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: 0.1s;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: azure;
}
.andularPage .text:hover{
    font-size: 25px;
    border: 2px solid grey;
}
.andularPage .text h2{
    background-color: ghostwhite;
    text-align: center;
    width: 500px;
    margin: auto;
}

.andularPage .left{
    transition-duration: 0.1s;
}
.andularPage .left ul{
    margin-left: -30px;
}
.andularPage .left:hover{
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 20px;
}

/*-----------------------------------------------страница с инфой про bootstrap------------------------------*/