body{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
}
.wrapper{
    width: 1380px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(5, 5, 5);
    color: whitesmoke;
    box-shadow: 0px 0px 0px 80px rgba(0, 0, 0, 0.452),0px 0px 0px 50px rgba(0, 0, 0, 0.548),
    0px 0px 0px 20px rgba(0, 0, 0, 0.801);
    background-clip: padding-box;
    margin: 80px;
    border-radius: 30px;
}
header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Days One', sans-serif;
}
header img{
    width: auto;
    height: 100px;
    margin: 0px 50px;
}
main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.base{
    width: 45%;
    box-sizing: border-box;
    padding: 0px 20px;
    margin: 25px;
    border: 5px solid whitesmoke;
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.247);
    background-clip: padding-box;
    border-radius: 30px;
    overflow: visible;
}
.base img{
    float: left;
    margin: 0px 10px;
    width: 50%;
}
.mod{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
}
.center{
    width: 100%;
    text-align: center;
}
.center img{
    float: none;
}
.button{
    overflow: hidden;
    display: flex;
    flex-shrink: unset;
    justify-content: center;
    margin-bottom: 10px;
}
.button a{
    text-align: center;
    width: 50%;
    padding: 10px;
    background-color: rgb(19, 19, 19);
    border: 5px solid whitesmoke;
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    border-radius: 100%;
    transition-duration: 0.2s;
}
.button a:hover{
    color: rgb(19, 19, 19);
    border: 5px solid rgb(19, 19, 19);
    background-color: whitesmoke;
}
.news{
    width: 95%;
}
