body{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(../img/back.jpg);
    background-attachment: fixed;
}
.wrapper{
    width: 1000px;
    margin: 20px;
    padding: 20px;
}
header{
    text-align: center;
}
header h1{
    font-size: 50px;
    background-image: url(../img/background_base.jpg);
    border: 5px solid black;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.base{
    background-color: antiquewhite;
    background-image: url(../img/background_base.jpg);
    overflow: visible;
    width: 90%;
    padding: 5%;
    margin: 40px 0px;
    box-sizing: border-box;
    border: 5px solid black;
}
.base h2{
    background-color: aquamarine;
    position: relative;
    font-size: 35px;
    top: -100px;
    border-radius: 15px;
    border: 5px solid black;
    padding: 5px;
    float: left;
    margin-bottom: -90px;
}
.unit{
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}
.unit h3{
    font-size: 25px;
}
.unit input{
    height: 40px;
    width: 70%;
    margin-right: 50px;
    margin-left: 20px;
    font-size: 20px;
    background-color: darkcyan;
}
.unit input::placeholder{
    color: black;
}
.mod{
    justify-content: start;
}
.unit select{
    margin: 10px;
    height: 30px;
    border-radius: 5px;
}
.radio{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}
.radio input{
    width: 20px;
    height: 20px;  
    margin: 0px 10px;
}
.radio label{
    font-size: 25px;
}
.radio_mod{
    flex-direction: column;
    align-items: baseline;
}
.text_age input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}
.color input{
    width: 150px;
}
textarea{
    resize: none;
}
.text_date input{
    width: 400px;
}
.scroll{
    width: 50%;
}
.scroll input{
    width: 100%;
    margin: 0px;
}
.number_space{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.number_space p{
    margin-top: -7px;
}
.byttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.byttons input{
    width: 20%;
    height: 30px;
    margin: 0px 20px;
    border-radius: 30px;
}